body {
    background-color: beige;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: chocolate;
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 20px; /* 필요에 따라 간격 조정 */
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin-right: 20px; /* 필요에 따라 간격 조정 */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(214, 167, 134);
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: beige;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000;
}

#timetableTable {
    width: 100%;
    border-collapse: collapse;
}

#timetableTable th, #timetableTable td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#timetablePopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000;
}