/* 전체 페이지 스타일 */
body {
    background-color: beige;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* 헤더 스타일 */
header {
    background-color: chocolate;
    display: flex;
    align-items: center;
}

/* 로고 스타일 */
#logo {
    margin-right: 20px; /* 필요에 따라 간격 조정 */
}

/* 네비게이션 바 고정 스타일 */
nav {
    flex-grow: 1;
    position: fixed; /* 화면에 고정 */
    top: 0; /* 화면 상단에 위치 */
    width: 100%; /* 화면 너비에 맞게 설정 */
    background-color: chocolate;
    z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
}

/* 네비게이션 목록 스타일 */
nav ul {
    list-style-type: none; /* 기본 목록 스타일 제거 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

/* 네비게이션 항목 스타일 */
nav ul li {
    margin-right: 20px; /* 필요에 따라 간격 조정 */
}

/* 네비게이션 링크 스타일 */
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(214, 167, 134);
}

/* 페이지 내용이 네비게이션 바 아래에서 시작하도록 마진 설정 */
.content {
    margin-top: 60px; /* 네비게이션 바 높이만큼의 여백 */
}

/* 표 스타일 */
table {
    width: 80%; /* 너비를 80%로 설정 */
    border-collapse: collapse; /* 중복 테두리 제거 */
}

/* 테두리 및 셀 스타일 */
th, td {
    border: 1px solid #333; /* 테두리 색상 */
    padding: 8px; /* 셀 내부 여백 */
    text-align: center; /* 중앙 정렬 */
}

/* 헤더 스타일 */
th {
    background-color: gold; /* 헤더 배경색 */
    width: 14.28%;
}

/* 1교시 ~ 7교시 컬러 */
tbody tr:nth-child(1) td:first-child {
    background-color: lightcoral;
    color: black;
}

tbody tr:nth-child(2) td:first-child {
    background-color: lightsalmon;
    color: black;
}

tbody tr:nth-child(3) td:first-child {
    background-color: rgb(255, 239, 151);
    color: black;
}

tbody tr:nth-child(4) td:first-child {
    background-color: lightgreen;
    color: black;
}

tbody tr:nth-child(5) td:first-child {
    background-color: lightskyblue;
    color: black;
}

tbody tr:nth-child(6) td:first-child {
    background-color: rgb(211, 149, 255);
    color: black;
}

tbody tr:nth-child(7) td:first-child {
    background-color: lightpink;
    color: black;
}

tbody tr:nth-child(8) td:first-child {
    background-color: gray;
    color: black;
}

/* 항목 스타일 */
.item {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
